Import needed libraries and packages:

In [202]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Reading our training csv and introduce it into a dataframe.

In [203]:
df = pd.read_csv('train.csv', index_col='Id')

# First rows of DataFrame
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Get the dimensions of our dataframe:

In [204]:
original_row_count = df.shape[0]
original_column_count = df.shape[1]

print(f'Number of rows: {original_row_count}')
print(f'Number of columns: {original_column_count}')

Number of rows: 1460
Number of columns: 80

The following piece of code returns the number of null values per column:

In [205]:
print('Null values')
df.isnull().sum()

Null values

MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

The following function returns the columns that have missing values and displays the percentage of those missing values.

In [206]:
def get_missing_values_table(df):
    """Outputs a table of missing values by column"""
    missing_values = df.isnull().sum()
    missing_values_percent = 100 * df.isnull().sum() / len(df)
    missing_values_table = pd.concat([missing_values, missing_values_percent], axis=1)
    missing_values_table.rename(columns = {0:'Missing Values', 1:'% of Total Values'}, inplace=True)
    
    final_table = missing_values_table[missing_values_table['Missing Values'] != 0]
    final_table = final_table.sort_values(by = 'Missing Values', ascending=False).round(1)

    return final_table

missing_values_table = get_missing_values_table(df)
missing_values_table

              Missing Values  % of Total Values
PoolQC                  1453               99.5
MiscFeature             1406               96.3
Alley                   1369               93.8
Fence                   1179               80.8
FireplaceQu              690               47.3
LotFrontage              259               17.7
GarageType                81                5.5
GarageYrBlt               81                5.5
GarageFinish              81                5.5
GarageQual                81                5.5
GarageCond                81                5.5
BsmtExposure              38                2.6
BsmtFinType2              38                2.6
BsmtFinType1              37                2.5
BsmtCond                  37                2.5
BsmtQual                  37                2.5
MasVnrArea                 8                0.5
MasVnrType                 8                0.5
Electrical                 1                0.1

drop_single_value_columns function drops the columns that have the same values in every row.    

drop_columns_with_null_values function drops the columns that have more null values than a given toleration.

In [207]:
def drop_single_value_columns(df):
    single_value_columns = [column for column in df.columns if len(df[column].unique()) == 1]

    if len(single_value_columns):
        print('Dropped columns with single value:', single_value_columns)
        df = df.drop([single_value_columns], axis=1)
    
    return df

def drop_columns_with_null_values(df, null_values_table, null_values_column, null_values_tolerance):
    null_columns = null_values_table.loc[null_values_table[null_values_column] > null_values_tolerance].index
    
    if len(null_columns):
        print('Dropped columns with null values:', null_columns)
        df = df.drop(null_columns, axis=1)

    return df
 
df = drop_single_value_columns(df)
df = drop_columns_with_null_values(df, missing_values_table, '% of Total Values', 35)

Dropped columns with null values: Index(['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'FireplaceQu'], dtype='object')

The new dimensions of the dataframe are displayed:

In [208]:
new_row_count = df.shape[0]
new_column_count = df.shape[1]

print(f'Number of rows: {new_row_count}')
print(f'Number of columns: {new_column_count}')
print(f'Column count difference: {original_column_count - new_column_count}')

Number of rows: 1460
Number of columns: 75
Column count difference: 5

Display updated missing values:

In [209]:
# TODO: replace Null values with mean
df.dropna(axis=0, inplace=True)

new_missing_values_table = get_missing_values_table(df)
new_missing_values_table

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

Row number is also decreased:

In [210]:
new_row_count = df.shape[0]
new_column_count = df.shape[1]

print(f'Number of rows: {new_row_count}')
print(f'Number of columns: {new_column_count}')
print(f'Column count difference: {original_column_count - new_column_count}')

Number of rows: 1094
Number of columns: 75
Column count difference: 5

Our input will be every column except the last one and our target will be the last one:

In [211]:
input_df = df.iloc[:, :-1]
target_df = df.iloc[:, -1]

In [212]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 1 to 1460
Data columns (total 74 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1094 non-null   int64
 1   MSZoning       1094 non-null   object
 2   LotFrontage    1094 non-null   float64
 3   LotArea        1094 non-null   int64
 4   Street         1094 non-null   object
 5   LotShape       1094 non-null   object
 6   LandContour    1094 non-null   object
 7   Utilities      1094 non-null   object
 8   LotConfig      1094 non-null   object
 9   LandSlope      1094 non-null   object
 10  Neighborhood   1094 non-null   object
 11  Condition1     1094 non-null   object
 12  Condition2     1094 non-null   object
 13  BldgType       1094 non-null   object
 14  HouseStyle     1094 non-null   object
 15  OverallQual    1094 non-null   int64
 16  OverallCond    1094 non-null   int64
 17  YearBuilt      1094 non-null   int64
 18  YearRemodAdd   1094 non-null   int64
 19  RoofStyle      1094 non-null   object
 20  RoofMatl       1094 non-null   object
 21  Exterior1st    1094 non-null   object
 22  Exterior2nd    1094 non-null   object
 23  MasVnrType     1094 non-null   object
 24  MasVnrArea     1094 non-null   float64
 25  ExterQual      1094 non-null   object
 26  ExterCond      1094 non-null   object
 27  Foundation     1094 non-null   object
 28  BsmtQual       1094 non-null   object
 29  BsmtCond       1094 non-null   object
 30  BsmtExposure   1094 non-null   object
 31  BsmtFinType1   1094 non-null   object
 32  BsmtFinSF1     1094 non-null   int64
 33  BsmtFinType2   1094 non-null   object
 34  BsmtFinSF2     1094 non-null   int64
 35  BsmtUnfSF      1094 non-null   int64
 36  TotalBsmtSF    1094 non-null   int64
 37  Heating        1094 non-null   object
 38  HeatingQC      1094 non-null   object
 39  CentralAir     1094 non-null   object
 40  Electrical     1094 non-null   object
 41  1stFlrSF       1094 non-null   int64
 42  2ndFlrSF       1094 non-null   int64
 43  LowQualFinSF   1094 non-null   int64
 44  GrLivArea      1094 non-null   int64
 45  BsmtFullBath   1094 non-null   int64
 46  BsmtHalfBath   1094 non-null   int64
 47  FullBath       1094 non-null   int64
 48  HalfBath       1094 non-null   int64
 49  BedroomAbvGr   1094 non-null   int64
 50  KitchenAbvGr   1094 non-null   int64
 51  KitchenQual    1094 non-null   object
 52  TotRmsAbvGrd   1094 non-null   int64
 53  Functional     1094 non-null   object
 54  Fireplaces     1094 non-null   int64
 55  GarageType     1094 non-null   object
 56  GarageYrBlt    1094 non-null   float64
 57  GarageFinish   1094 non-null   object
 58  GarageCars     1094 non-null   int64
 59  GarageArea     1094 non-null   int64
 60  GarageQual     1094 non-null   object
 61  GarageCond     1094 non-null   object
 62  PavedDrive     1094 non-null   object
 63  WoodDeckSF     1094 non-null   int64
 64  OpenPorchSF    1094 non-null   int64
 65  EnclosedPorch  1094 non-null   int64
 66  3SsnPorch      1094 non-null   int64
 67  ScreenPorch    1094 non-null   int64
 68  PoolArea       1094 non-null   int64
 69  MiscVal        1094 non-null   int64
 70  MoSold         1094 non-null   int64
 71  YrSold         1094 non-null   int64
 72  SaleType       1094 non-null   object
 73  SaleCondition  1094 non-null   object
dtypes: float64(3), int64(33), object(38)
memory usage: 641.0+ KB

Divide our dataframe into categorical and numerical columns:

In [213]:
#change objects to category and classify by dtypes
categorical_columns = []
numerical_columns = []

for column in input_df.columns:
    if input_df[column].dtype == 'object':
        input_df = input_df.astype({f'{column}':'category'})
        categorical_columns.append(column)
    else:
        numerical_columns.append(column)

print('{0} categorical columns: \n {1} \n'.format(len(categorical_columns),categorical_columns))
print('{0} numerical columns: \n {1} \n'.format(len(numerical_columns), numerical_columns))

38 categorical columns:
 ['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition']

36 numerical columns:
 ['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

Replace categorical values with numerical mapping different possible values to 1 or 0:

In [214]:
pd.set_option('display.max_rows', None)

def replace_categorical(df, col_name, category_lst):
	cardinality = len(category_lst)
	
	cont = 0
	for category in category_lst:
		df[col_name].replace([category], [cont / cardinality], inplace=True)
		cont += 1

for column in categorical_columns:
    replace_categorical(input_df, column, input_df[column].unique())

input_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1,60,0.0,65.0,8450,0.0,0.00,0.0,0.0,0.0,0.0,...,61,0,0,0,0,0,2,2008,0.0,0.000000
2,20,0.0,80.0,9600,0.0,0.00,0.0,0.0,0.2,0.0,...,0,0,0,0,0,0,5,2007,0.0,0.000000
3,60,0.0,68.0,11250,0.0,0.25,0.0,0.0,0.0,0.0,...,42,0,0,0,0,0,9,2008,0.0,0.000000
4,70,0.0,60.0,9550,0.0,0.25,0.0,0.0,0.4,0.0,...,35,272,0,0,0,0,2,2006,0.0,0.166667
5,60,0.0,84.0,14260,0.0,0.25,0.0,0.0,0.2,0.0,...,84,0,0,0,0,0,12,2008,0.0,0.000000

Model declaration, training and validation:

In [215]:
X_train, X_test, y_train, y_test = train_test_split(input_df, target_df, test_size = 0.30)

linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)
print(linear_regression.score(X_test, y_test))

0.7947474516458003